<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logDir" value="./logs"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - [%X{x-request-id}] - [%X{x-request-login}] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${logDir}/blog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/myblog_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - [%X{x-request-id}] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="httpvalid" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${logDir}/blog-httpvalid.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/blog-httpvalid_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - [%X{x-request-id}] %msg%n</pattern>
		</encoder>
	</appender>





	<root level="${logLevel:-INFO}">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>

	<logger name="httpValidLogger" level="INFO" additivity="false">
		<appender-ref ref="httpvalid" />
	</logger>
</configuration>